
/*
.navbar {
    height: 6rem;
    background-color: rgb(236, 236, 236);
}

.navbar img {
    height: 5rem;
    padding: .5rem;
    padding-left: 2rem;
}*/
.navbar {
    display: grid;
    grid-template-columns: 1fr 1.8fr;
    align-items: center;
    height: 60px;
    overflow: hidden;
  }
  
  .navbar img {
    height: 56px;
    width: auto;
    justify-self: start;
    margin-left: 20px;
  }

.navbar .links {
    position: absolute;
    right: 5rem;
    top: 2.5rem;
}

.links a {
    color: #252525;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-inline: 2vw;
}

.links a:hover{
    color: rgb(255, 136, 0);
}

